doctype html
html
	head
		title Katbot, a Discord bot
		link(rel='stylesheet prefetch' href='https://bootswatch.com/united/bootstrap.min.css')
		link(rel='stylesheet prefetch' href='style.css')
	body
		.container-fluid
			.jumbotron
				.row
					.col-sm-2
					.col-sm-2
						img.img-responsive(src='katbot.png')
					.col-sm-8
						h1.com HAI IM KATBOT
						p A good ol' Discord chatbot.
						a.btn.btn-large.btn-warning.com(href='https://discordapp.com/oauth2/authorize?&client_id=170921344798687234&scope=bot&permissions=-1' target='_blank') ADD ME 2 UR DISCORD SRVR PLZ
		.container
			h1.com HOW 2 PLAY
			p <b>Note:</b> all commands start with <code>@katbot, </code>.
			ul
				li <code>hello</code>: Customary greetings.
				li <code>i love big brother</code>: You are being watched.
				li <code>[USER] was rekt</code>, <code>[USER] got rekt</code>: Rub in the salt.
				li <code>asciify [IMG_URL] [optional:CHAR_GRADIENT]</code>: Textual perfection.
				li <code>eval [JS_CODE]</code>: REPL-style execution with timeouts.
				li <code>i want [ANYTHING_HERE] ship</code>: Ship chat time!
				li <code>memeface [COMMAND]</code>: Commands = feelsgd, feelsbd, feelsmd, feelsrs, feelsok, feelsnv, feelsnv, feelsgn, feelsrb, feelsdd, feelspn, feelshp, feelco, feelscr, feelstr, feelssc, feelscop, feelsnerd, feelsfdra, feelsrg, feelspink, feelsjig, xaa, oshet, niglol, wtfman, FacePalm, hmmface, yesface, noface, yayface
				li <b>None of the above</b>: Have a nice chat about the weather and all that jazz.